body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.nav__container {
  margin: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  color: black;
}

.nav__container a {
  border: 1px solid transparent;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: normal;
}

.nav__container a.active {
  background-color: #D9D9D980;
  font-weight: bold;
}

.nav__container a:hover {
  background-color: #D9D9D980;
  font-weight: bold;
}

.banner {
  background-color: #C7A08E;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 180px;
}

.banner img {
  position: relative;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  border: 1px solid black;
}

.name__surname {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.surname {
  padding-left: 5rem;
}

h1 {
  margin: 0.5rem;
  font-size: 4rem;
  color: white;
}

.perex {
  font-size: 1rem;
  text-align: center;
  font-style: italic;
}
